# Python cache
__pycache__/
*.py[cod]
*.so
RandomForestClassifier*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/


# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
